/* Reset */

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

/* estilizar utilizando o seleor de uma TAG */

/* Síntaxe do CSS:

seletor(propriedade: valor) --> regra do css
*/

body{
    background-color:rgb(245, 215, 229);
    width: 100vw;
    height: 100vh;
    
}

html{    
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Estilizando utilizando uma classe como seletor */

.content-header{

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 33%;
        background-color: rgb(245, 215, 229);
}

.banner-header{
    width: 1116px;
    height: 70%;
    background-color: rgb(250, 175, 175);
    margin: auto;
    border-radius: 20PX;
}

.content-hero{
    width: 60%;
    height: 67%;
    margin: auto;

    display: flex;
    /* alinhamento horizontal (x) */
    justify-content: space-between;
    /* alinhamento vertical (y) */
    align-items: center;
}

.box{ 
    border: 2px solid rgb(250, 250, 250) ;
    width: 360px;
    height: 480px;
    background-color: rgb(253, 242, 228);
    border-radius: 20px;
    margin: auto;
}

.content-hero--left{

}

.content-hero--header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: crimson;
    width: 100%;
    height: 10%;
    border-radius: 20px 20px 0 0 ;
    pad: 5px;
    color: #fff;
}