
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    align-content: center;
    justify-items: center;
}

.conteudo-principal{
    background-color: rgb(255, 255, 255);
    width: 1180px;
    height: 650px;
    display: flex;
}

.conteudo-principal_esquerda{
    width: 450px;
    height: 650px;
    background-color: rgb(255, 255, 255);
}
img{
    width: 450px;
    height: 650px;
}

.conteudo-principal_direita{
    width: 670px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    margin: 30px;
    
}


.conteudo-principal_direita--titulo{
    height: 33%;
    width: 670px;
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.conteudo-principal_direita--descricao{
    display: flex;
    height: 33%;
    width: 670px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.conteudo-principal_direita--carregue{
    height: 33%;
    width: 670px;
    background-color: rgb(255, 253, 253);
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


