@import url(./Reset.css);
@import url(./design-system.css);


body{
    width: 100vw;
    height: 100vh;
    align-content: center;
    justify-items: center;
}

.brands{
    width: 1152px;
    height: 621px;
    display: center;
    gap: 15px;
}

.brand__title{
    font-family: system-ui, Roboto;
    font-size: 24px;
}


